<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samkpo.dario.noboldcontacts" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="A simple module that removes the bold property of the contacts initials" />
        <meta-data
            android:name="xposedminversion"
            android:value="78" />

        <activity android:name="com.samkpo.dario.noboldcontacts.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:enabled="false"
            android:name="com.samkpo.dario.noboldcontacts.SettingsActivity-Alias"
            android:label="@string/title_activity_settings"
            android:targetActivity="com.samkpo.dario.noboldcontacts.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
